 body {
    font-family: 'Inter', 'system-ui';
 }
 
 .nav-dropdown {
  opacity: 0;
  position: absolute;
  left: -1.5rem;
  top: 100%;
  transform: translateY(-4px);
  border: 1px solid #3f3f46;
  border-radius: 8px;
  padding: 0.5rem;
  min-width: 192px;
  background: #1a1a1a;
  transition: transform 0.25s, opacity 0.25s;
  z-index: 20;
  pointer-events: none;
}

.nav-dropdown.show {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}


  .nav-link:active::after {
    position: absolute;
    display: block;
    content: "";
    bottom: -1.6rem;
    left: 0;
    right: 0;
    border-bottom: 1px solid #fcd34d;
  }
  

  .link-icon {
    display: inline-block;
    margin-top: -2px;
    margin-left: 4px;
    width: 11px;
    height: 11px;
    fill: #6f6e6e;
    transition: fill .25s;
  }


.gradient-border {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    padding: 2px;
    background: linear-gradient(#27272a, #27272a), linear-gradient(45deg, #fcd34d, #db2777) border-box;
    background-clip: content-box, border-box;
  }
  
  .gradient-border button {
    position: relative;
    z-index: 1;
    background-color: #272722;
  }

  .hero-section::after {
    content: "";
    inset: 0;
    z-index: -2;
    position: absolute;
    opacity: .3;
    transform: translateY(0px);
    animation: slideUp .5s ease;
    background-image: url(assets/images/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero-section::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: linear-gradient(to top, #1A1A1A, transparent 50%);
  }

  .hero-section {
    position: relative;
    z-index: 10;
  }

  .arrow-svg .arrow-tail {
    stroke-dasharray: 12;
    stroke-dashoffset: 12;
    transition: stroke-dashoffset .25s ease;
  }

  .arrow-svg {
    transition: .25s;
  }

  .arrow-svg-hover:hover .arrow-svg {
    transform: translateX(.25rem);
}

.arrow-svg-hover:hover .arrow-tail {
    stroke-dashoffset: 24;
}

.tab-link.active {
    background: #424242;
}

a.flex-col svg {
  transition: transform 0.5s ease-in-out;
}

a.flex-col:hover svg {
  transform: rotate(90deg);
}

.promotion-wrapper::after {
  content: "";
  position: absolute;
  background-image: url(assets/images/promotion.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .25;
  z-index: -2;
  inset: 0;
}



.promotion-wrapper {
  position: relative;
  overflow: hidden;
  z-index: 1;
}